<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzhpF8Tu7shmwF61ERvzhHT7LLiLf0iRM</string>
	<key>GCM_SENDER_ID</key>
	<string>57281647344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gods.eye.godsEye.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gods-eye-1df04</string>
	<key>STORAGE_BUCKET</key>
	<string>gods-eye-1df04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57281647344:ios:a9eaed29c24f86288d6835</string>
</dict>
</plist>